body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(222, 222, 222);
}

.container {
  display: flex;
  column-gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav {
  background-color: white;
  padding: 1em;
}

.container-nav {
  max-width: 1150px;
  margin: 0 auto;
  text-align: center;
}

.linktext {
  margin-right: 15px;
  text-decoration: none;
  color: black;
  font-size: larger;
}

.left {
  max-width: 440px;
  padding: 1em;
  background-color: white;
  border-radius: 1em;
}

aside {
  position: sticky;
  top: 10px;
}

.right {
  max-width: 760px;
  padding: 1em;
  background-color: white;
  border-radius: 1em;
}

.photo {
  text-align: center;
}

.rounded-img {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(26, 9, 9, 0.4);
  padding: 0.5em;
}

.hardskils {
  display: flex;
  column-gap: 7px;
}

.job-title {
  display: flex;
  justify-content: space-between;
}

.list-respons {
  padding: 1em;
  margin-top: -25px;
}

.bakalavr {
  margin-top: -12px;
}

.turan {
  display: flex;
  justify-content: space-between;
  margin-top: -17px;
}

footer {
  max-width: 1170px;
  margin: 0 auto;
  border-radius: 1em;
  background-color: white;
  text-align: center;
  padding: 1em;
}

.social-network {
  margin-top: 0px;
  margin-bottom: 10px;
}

.Lorem {
  text-align: justify;
}
